* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
}

/* header {
    height: 100vh;
} */

/* li, a {
    list-style: none;
    text-decoration: none;
    color: white;
}

li::after {
    display: block;
    content: '';
    visibility: hidden;
    border: 0.5px solid orangered;
}

li:hover::after {
    transform: scaleX(0);
    visibility: visible;
    animation: underline .3s linear;
    animation-fill-mode: both;
} */

h1, h2 {
    font-family: 'DM Serif Display', serif;
}

.presentation-info .hello, .title-h2 {
    color: #fa5c01;
}

.presentation-info .my-name-title {
    color: white;
}

.presentation-info p, .about-me-container {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
}

.links-container img:hover {
    transform: translateY(-.4rem);
    transform: scale(1.4);
}

.presentation-photo img {
    border-radius: 100%;
}

/* TECNOLOGÍAS */

.card-technologies, .card-project {
    background-color: #161616;
    border: none;
    border: .1rem solid rgb(51, 51, 51);
    transition: .3s;
}

.card-technologies:hover {
    border: .1rem solid white;
}

.card-technologies img, .card-training img {
    border-radius: .5rem;
}

/* FORMACIÓN  */

.card-training {
    background: none;
    border: none;
}

/* PROYECTOS */

.btn {
    color: white;
    border: .1rem solid #ff522fd3;
    background: linear-gradient(to right, #ff522fd3, #f09619e5);
}

.btn:hover {
    color: white;
}

@media screen and (min-width: 320px) {
    .presentation-info {
        text-align: center;
    }

    .presentation-info .hello {
        font-size: 3rem;
    }

    .presentation-info .my-name-title {
        font-size: 2.8rem;
    }

    .presentation-info p {
        font-size: 1.1rem;
    }

    .links-container img {
        width: 1.8rem;
        margin-right: .5rem;
        transition: .2s;
    }

    .presentation-photo img {
        width: 11rem;
    }

    /* TECNOLOGÍAS */

    .card-technologies {
        width: 10rem;
    }
    
    .card-technologies img {
        width: 6rem;
        margin: 0 auto;
    }

    /* FORMACIÓN */

    .card-training  {
       width: 12rem;
       margin:  0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .presentation-info  {
        text-align: start;
    }

    .presentation-info .hello {
        font-size: 3.5rem;
    }

    .presentation-info .my-name-title {
        font-size: 3.2rem;
    }

    .presentation-photo img {
        width: 13rem;
    }

    /* PROYECTOS */

    .card-project  {
        width: 22rem;
    }
}

@media screen and (min-width: 1300px) {
    .presentation-info .hello {
        font-size: 4.2rem;
    }

    .presentation-info .my-name-title {
        font-size: 3.8rem;
    }

    .presentation-photo img {
        width: 17rem;
    }

    /* FORMACIÓN */
    
    .card-technologies {
        width: 12rem;
    }
}